In [30]:
import jqdatasdk as jq
from jqdatasdk import finance
jq.auth('13811815618','Shuzi307104!')

In [31]:
stocks = jq.get_index_stocks('000016.XSHG')

In [35]:
q = jq.query(jq.valuation.code,
          #市值
          jq.valuation.market_cap,
          #净资产，用总资产减去总负债
         jq.balance.total_assets - jq.balance.total_liability,
          #再来一个资产负债率的倒数
         jq.balance.total_assets/jq.balance.total_liability,
          #把净利润也考虑进来
         jq.income.net_profit,
          #还有年度收入增长
         jq.indicator.inc_revenue_year_on_year,
          #研发费用
         jq.balance.development_expenditure
         ).filter(jq.valuation.code.in_(stocks))

In [37]:
#将这些数据存入一个数据表中
df = jq.get_fundamentals(q)

In [38]:
df.columns = ['code', 
              'mcap', 
              'na', 
              '1/DA ratio', 
              'net income', 
              'growth', 
              'RD']

In [39]:
df.head()

,code,mcap,na,1/DA ratio,net income,growth,RD
0,600010.XSHG,911.7007,6.198162e+10,1.721479,-1.407279e+09,-30.21,NaN
1,600028.XSHG,5554.6709,9.255369e+11,1.822713,1.339400e+10,13.41,NaN
2,600030.XSHG,3051.5505,2.538121e+11,1.234698,5.587781e+09,-25.66,NaN
3,600031.XSHG,1362.3231,6.596622e+10,1.746315,9.901590e+08,-8.27,531280000.0
4,600036.XSHG,8907.6494,9.277664e+11,1.105676,3.797700e+10,3.73,NaN